<div class="container mt-3 p-3 bg-secondary text-white">
    <div class="d-flex align-items-center">
    <h1 class="me-4">My Tasks</h1>
    <%= link_to "➕ New Task", new_task_path, class: "btn btn-light btn-sm mb-3" %>
    </div>
    <% @tasks.each do |task| %>
      <% if task.completed %>
      <p><i class="far fa-check-square"></i> <%= link_to task.title, task_path(task), class: "chores-tag"  %>
      <%= link_to "🚮", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      <% else %>
      <p><i class="far fa-square"></i> <%= link_to task.title, task_path(task), class: "chores-tag" %>
      <%= link_to "🚮", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      <% end %>
    <% end %>
</div>
